doctype html
html
  head
    meta(charset='utf-8')
    meta(name="theme-color", content="#1A237E")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui')

    title= title || 'Node.js Todo'

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    link(rel='stylesheet', href='css/style.css')

  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include topbar
      main.mdl-layout__content
        .page-content
          block content

    script(defer, src='https://code.getmdl.io/1.3.0/material.min.js')
