extends partials/layout

block content
  #root

  script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js')
  script(src='https://unpkg.com/react@15/dist/react.min.js')
  script(src='https://unpkg.com/react-dom@15/dist/react-dom.min.js')
  script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
  script(type="text/jsx", src='/js/todos.jsx')

